<% if @restaurants.empty? %>
  <h2>There are no restaurants to list</h2>
<% else %>
  <ul>
    <% @restaurants.each do |r| %>
      <li><%= link_to r.name, restaurant_path(r) %></li>
    <% end %>
  </ul>
<% end %>