<div class="columns">
  <% if @restaurants.empty? %>
    <h2>There are no restaurants to list</h2>
  <% else %>
    <% @restaurants.each do |restaurant| %>
      <%= render partial: 'restaurants', :locals => { :restaurant => restaurant } %>
    <% end %>
  <% end %>
</div>