<div class="columns">
    <% if !@photos.empty? %>
        <% @photos.each do |photo| %>
            <%= render partial: 'photos/photos', :locals => { :photo => photo } %>
        <% end %>
    <% else %>
        <h1>There are no photos</h1>
    <% end %>
<div>